src/main/resources/wsdl/search-service-v1-0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tlrx="http://tlrx.github.com/servicemix/ws/soap"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://tlrx.github.com/servicemix/ws/soap">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tlrx.github.com/servicemix/ws/soap">
            <xsd:element name="searchRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="30"/>
                        <xsd:whiteSpace value="collapse"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="searchResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="hits" type="tlrx:Hit" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Hit">
                <xsd:sequence>
                    <xsd:element name="id" minOccurs="0" maxOccurs="1" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="searchResponseFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fault" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="searchRequest">
        <wsdl:part name="parameters" element="tlrx:searchRequest"/>
    </wsdl:message>
    <wsdl:message name="searchResponse">
        <wsdl:part name="parameters" element="tlrx:searchResponse"/>
    </wsdl:message>
    <wsdl:message name="searchResponseFault">
        <wsdl:part name="parameters" element="tlrx:searchResponseFault"/>
    </wsdl:message>

    <wsdl:portType name="SearchWebService">
        <wsdl:operation name="search">
            <wsdl:input message="tlrx:searchRequest"/>
            <wsdl:output message="tlrx:searchResponse"/>
            <wsdl:fault name="fault" message="tlrx:searchResponseFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SearchSoapBinding" type="tlrx:SearchWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="search">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SearchWebService">
        <wsdl:port name="SearchWebService" binding="tlrx:SearchSoapBinding">
            <soap:address location=""></soap:address>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>